[Unit]
Description=MQTT Fingerprint PI
After=network-online.target
 
[Service]
Restart=on-failure
RestartSec=5s
Type=simple
User=root
WorkingDirectory=/opt/mqtt_fingerprint_pi
ExecStart=/usr/bin/python3 /opt/mqtt_fingerprint_pi/run.py
 
[Install]
WantedBy=multi-user.target

